---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
    {
    title: "Ремонт квартир под ключ",
    description:
      "Комплексный ремонт квартир под ключ: дизайн-проект, строительные работы, отделка и декорирование. Все этапы — от планирования до сдачи объекта. Гарантия качества и соблюдение сроков.",
    icon: "bx:wrench",
  },
  {
    title: "Отделочные работы",
    description:
      "Профессиональные отделочные работы любой сложности: штукатурка, шпаклевка, покраска, укладка плитки и полов. Качественные материалы и аккуратное выполнение работ.",
    icon: "bx:check-square",
  },
  {
    title: "Ремонт и отделка балконов и лоджий",
    description:
      "Утепление, остекление и качественная отделка балконов и лоджий. Создание уютного пространства с гарантией долговечности материалов и работ.",
    icon: "bx:wrench",
  },
  {
    title: "Ремонт коммерческих помещений",
    description:
      "Профессиональный ремонт офисов, магазинов и других коммерческих помещений. Комплексные решения: проектирование, монтаж, электрика, сантехника. Соблюдение сроков и высокое качество.",
    icon: "bx:brush",
  },
  {
    title: "Благоустройство помещений",
    description:
      "Создание комфортной среды: перепланировка, освещение, вентиляция, озеленение. Индивидуальные решения для вашего бизнеса или дома.",
    icon: "bx:world",
  },
  {
    title: "Остекление помещений",
    description:
      "Установка качественных окон и дверей любых типов. Энергосберегающие технологии, шумоизоляция, гарантия герметичности.",
    icon: "bx:street-view",
  },
  {
    title: "Консультации по ипотечным вопросам",
    description:
      "Поможем вам подать заявку на ипотеку во все банки-партнёры и получить подходящие предложения.",
    icon: "bx:timer",
  },
  {
    title: "Провести сделку",
    description:
      "Простой и безопасный способ покупки жилья на вторичном рынке без ипотеки. Полное сопровождение сделки от составления договора до получения ключей.",
    icon: "bx:subdirectory-right",
  },
  {
    title: "Защитить сделку",
    description:
      "Гарантируем безопасную покупку вторичной недвижимости.",
    icon: "bx:lock-alt",
  },
 

];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Наша сфера услуг
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Наша сфера услуг.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
